* {
    margin: 0; /* Fjerner standard margin */
    padding: 5px; /* Lægger standard padding på alle elementer */
    box-sizing: border-box; /* Inkluderer padding og border i elementets totalbredde og -højde */
}

/* Styling for overskrifter */
h1 {
    font-family: 'Jockey One', sans-serif; /* Bruger skrifttypen Jockey One til h1 */
    font-size: 2.5rem; /* Sætter skriftstørrelsen for h1 */
    color: #5e4795; /* Laver farven til en lilla tone */
    text-align: center; /* Centrerer teksten */
}

h3 {
    font-family: 'Jockey One', sans-serif; /* Bruger skrifttypen Jockey One til h3 */
    font-size: 1.6rem; /* Sætter skriftstørrelsen for h3 */
    text-align: left; /* Venstrestiller teksten */
    color: #5e4795; /* Laver farven til en lilla tone */
    margin-top: 20px; /* Giver afstand øverst */
    padding: 40px; /* Lægger polstring omkring h3 */
}

/* Styling af tekstafsnit */
p {
    font-size: 1.2rem; /* Sætter skriftstørrelsen for paragraf */
    line-height: 1.7; /* Øger linjeafstand */
    padding: 0 20px; /* Lægger polstring på venstre og højre */
    margin-left: 20px; /* Lægger margin på venstre side */
    margin-right: 20px; /* Lægger margin på højre side */
    text-align: justify; /* Justerer teksten */
}

.highlight {
    color: white; /* Gør teksten hvid */
}

.italic {
    font-style: italic; /* Gør teksten kursiv */
    padding: 0px; /* Fjerner padding */
}

.line-spacing {
    display: block; /* Gør linjeafstand til et blokelement */
    height: 10px; /* Sætter højden på linjeafstanden */
}

/* Styling for billeder */
.billede-container {
    display: flex; /* Bruger flexbox til billede containere */
    justify-content: center; /* Centrerer billederne vandret */
    align-items: center; /* Centrerer billederne lodret */
    gap: 20px; /* Lægger mellemrum mellem billederne */
    margin: 20px 0; /* Lægger margin ovenfor og nedenfor */
}

.billede-container img {
    width: 48%; /* Sætter bredden på billederne til 48% af containeren */
    border-radius: 8px; /* Tilføjer afrundede hjørner */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Tilføjer en let skygge for dybde */
    object-fit: cover; /* Sørger for, at billederne fylder containeren korrekt */
    transition: transform 0.3s ease; /* Gør billedet interaktivt ved hover */
    max-height: 500px; /* Sætter en maksimal højde for billederne */
    max-width: 600px; /* Sætter en maksimal bredde for billederne */
}

.billede-container img:hover {
    transform: scale(1.005); /* Gør billedet større ved hover */
    opacity: 0.9; /* Giver billedet en svag gennemsigtighed ved hover */
}

/* Styling for punkter i lister */
ul {
    list-style-type: disc; /* Bruger diskpunkter til listen */
    margin-left: 60px; /* Lægger margin til venstre på listen */
}

li {
    margin-bottom: 10px; /* Giver lidt plads mellem listepunkterne */
}