* {
    margin: 0; /* Fjerner standard margin */
    padding: 5px; /* Sætter standard padding */
    box-sizing: border-box; /* Inkluderer padding og border i elementets totalbredde og -højde */
}

/* Styling for overskrifter */
h1 {
    font-family: 'Jockey One', sans-serif; /* Bruger skrifttypen Jockey One til h1 */
    font-size: 2.5rem; /* Sætter skriftstørrelsen for h1 */
    color: #5e4795; /* Laver farven til en lilla tone */
    text-align: center; /* Centrerer teksten */
}

h3 {
    font-family: 'Jockey One', sans-serif; /* Bruger skrifttypen Jockey One til h3 */
    font-size: 1.8rem; /* Sætter skriftstørrelsen for h3 */
    text-align: left; /* Venstrestiller teksten */
    color: #5e4795; /* Laver farven til en lilla tone */
    margin-top: 20px; /* Giver afstand øverst */
    padding: 40px; /* Lægger polstring omkring h3 */
}

/* Styling af tekstafsnit */
p {
    font-size: 1.3rem; /* Sætter skriftstørrelsen for paragraf */
    line-height: 1.7; /* Øger linjeafstand */
    padding: 0 20px; /* Lægger polstring på venstre og højre */
    margin-left: 20px; /* Lægger margin på venstre side */
    margin-right: 20px; /* Lægger margin på højre side */
    text-align: justify; /* Justerer teksten */
}

.highlight {
    color: white; /* Gør teksten hvid */
}

.italic {
    font-style: italic; /* Gør teksten kursiv */
    padding: 35px; /* Tilføjer polstring til den kursiverede tekst */
    text-decoration: none; /* Fjerner eventuelle tekstdekorationer som understregning */
    color: #594891; /* Sætter farven til en lilla tone */
}

.line-spacing {
    display: block; /* Gør linjeafstand til et blokelement */
    height: 10px; /* Sætter højden på linjeafstanden */
}

/* Styling af billeder */
.billede-container1,
.billede-container2 {
    display: flex; /* Bruger flexbox til billede containere */
    justify-content: center; /* Centrerer billederne vandret */
    align-items: center; /* Centrerer billederne lodret */
    gap: 20px; /* Lægger mellemrum mellem billederne */
    margin: 20px 0; /* Lægger margin ovenfor og nedenfor */
}

.billede-container1 img,
.billede-container2 img {
    max-width: 90%; /* Sørger for, at billedet ikke bliver større end containeren */
    height: auto; /* Bevarer billedets proportioner */
    border-radius: 8px; /* Tilføjer afrundede hjørner */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Tilføjer en let skygge for dybde */
    transition: transform 0.3s ease; /* Gør billedet interaktivt ved hover */
}

.billede-container1 img:hover,
.billede-container2 img:hover {
    transform: scale(1.005); /* Gør billedet større ved hover */
    opacity: 0.9; /* Giver billedet en svag gennemsigtighed ved hover */
}

/* Specifik justering til bredere billeder i container 2 */
.billede-container2 img {
    width: 45%; /* Justerer bredden af billeder i container 2 */
}