*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Jockey One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(#a9b4df, #6c6c6c);
    width: auto;
    min-width: 25rem;
  }


/* MOBIL */ 
@media (max-width: 600px) {
}

/* TABLET */ 
@media (min-width: 601px) and (max-width: 991px) {
}